{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h3> History </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Exercise</th>
                <th scope="col">Count</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td style="max-width: 100px">
                    <span>{{ row["date"] }}</span></br>
                    <span>{{ row["time"] }}</span>
                </td>
                <td>{{ row["name"] }}</td>
                <td>{{ row["count"] }}</td>
                <td style="text-align: left; max-width: 200px">{{ row["notes"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}