{% extends "layout.html" %}

{% block title %}
    New Exercise
{% endblock %}

{% block main %}
    <h3> Add a New Exercise</h3>
    <form action="/new" method="post">

        <strong>Exercise Name: </strong>
        <div class="form-group">
            <input class="form-control" name="name" placeholder="Exercise Name" type="text" required>
        </div>

        <strong>Description: </strong>
        <div class="form-group">
            <textarea class="form-control" name="desc" placeholder="Short description of the exercise" type="text" rows="3"></textarea>
        </div>

        <strong>Goal: </strong>
        <div class="form-group">
            <input class="form-control" min="0.01" step="0.01" name="count" placeholder="Target Count/Distance" type="number">
        </div>       

        <strong>Achieve Goal by: </strong>
        <div class="form-group">
            <input class="form-control" name="date" min="{{ today }}" max="2030-05-01" type="date">
        </div>

        <button class="btn btn-primary" type="submit">Add Exercise</button>
    </form>

{% endblock %}
